<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | <%= title %></title>
</head>
<body>
    <h1>Contact page</h1>
    <% if(detail.length>0){ %>
      <% details.forEach((blog)=>{ %>
        <h1 class="name"> <% detail.name></h1>
        <p class="age"> <% details.age %> </p>
      <%  }) %>

   <% } %>
    <p>Contact me</p>
</body>
</html>